.complex {
    padding: 100px 0;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    &__item {
        width: 30%;
        max-width: 300px;
        height: 400px;
        padding: 40px 70px;
        border-radius: 5px
    }
    .complex1 {
        background: url(../img/complex_photo1.png) no-repeat center;
        background-size: cover;
    }
    .complex2 {
        background: url(../img/complex__photo2.png) no-repeat center;
        background-size: cover;
    }
    .complex3 {
        background: url(../img/complex__photo3.png) no-repeat center;
        background-size: cover;
    }
    &__title {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 500;
        text-align: center;
    }
    &__serv {
        margin-top: 30px;
        li {
            color: #fff;
            font-weight: 300;
            font-size: 1rem;
            margin-bottom: 20px;
        }
    }
    .btn {
        margin: 70px auto 0;
        padding: 14px 25px;
        font-size: .8rem;
    }
}