.exp {
    padding: 60px 0;
    &__wrapper {
        display: flex;
        // overflow-x: auto;
        margin-top: 40px;

        
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        // &::-webkit-scrollbar {
        //     height: 4px;

        // }
        // &::-webkit-scrollbar-track {

        //     background: #f1f1f1;
        // }
        // &::-webkit-scrollbar-thumb {
        //     background: #C4C4C4; 

        // }
        // &::-webkit-scrollbar-thumb:hover {
        //     background: #888888; 
        //     cursor: pointer;
        // }

        
    }
    &__item {
        min-width: 200px;
        img {
            width: 100%;
        }
        display: inline-block;
        animation: scroll 7s infinite linear;
    }
    &__slogan {
        
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        color: $main-color;
        margin-top: 100px;
    }

}
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-300%, 0)
    }
}