footer {
    background: linear-gradient(180deg, rgba(1, 85, 179, 0.6) 0%, #0155B3 100%);
    padding: 50px 0;
}
.footer {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        display: flex;
        margin-top: 20px;
        align-items: center;
        color: #fff;
        text-decoration: none;
        img {
            margin-right: 5px;
        }
        &:hover {
            opacity: .6;
        }
    }
    &__title {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }
}