.form {
    background: #F3EBE3;
    padding: 100px 0;
    text-align: center;
    &__text {
        margin-top: 30px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        
        color: $main-color;
    }
    .btn {
        margin: 30px auto;
    }
}
footer {
    background: $main-color;
    padding: 50px 0;
}
.footer {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
   &__item {
       &:nth-child(2) {
           width: 50%;
           max-width: 600px;
           margin-left: 20px;
       }
   }
    &__contacts {
        margin-top: 40px;
        a {
            display: flex;
            align-items: center;
            color: #fff;
            text-decoration: none;
            margin-top: 20px;
            img {
                width: 12px;
                margin-right: 5px;
            }
        }
    }
    
}
.copyright {
    color: #fff;
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 12px;
}
