.footer {
    &__wrapper {
        position: relative;
        background: linear-gradient(
            -45deg,
            #E8E5EE,
            #E1C1E1,
            #E6CABF,
            #E4E7AF,
            #E8E5EE,
            #E1C1E1,
            #E6CABF,
            #E4E7AF
        );
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        animation-direction: alternate;
        height: auto;
        border-radius: 35px;
        display: flex;
        justify-content: space-between;
        padding: 70px 27px;
    }
    &__logo {
        width: 20%;
        &_img {
            display: block;
            width: 100px;
            margin: 0 auto;
        }
    }
    &__slogan {
        font-size: 13px;
        line-height: 16px;
        color: $main-color;
        text-align: center;
        margin-top: 30px;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        width: 46%;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 32%;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $main-color;
    }
    &__link {
        font-size: 14px;
        line-height: 38px;
        color: $main-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            font-weight: 500;
        }
    }
    &__man {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 13%;
    }
}
.copyright {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}