.menu {
    display: flex;
    justify-content: space-between;
   
    height: 138px;
    margin-top: 19px;
    position: relative;
    z-index: 4;
    &__contacts {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__phone {
        margin-right: 15px;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        font-size: 1rem;
    }
    &__cons {
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        font-size: 1rem;
    }
}
.logo {
    display: block;
    width: 165px;
    margin-top: -4px;
    img {
        width: 100%;
    }
}