header {
    height: 90px;
    background: #fff;
}
.logo {
    a {
        width: 100%;
        img {
            width: 100%;
        }
    }
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    // position: relative;
    &__item, &__first {
        margin-left: 40px;
        height: 90px;
        display: flex;
        align-items: center;
    }
    &__link {
        color: $main-color;
        text-decoration: none;
        &_active {
            border-bottom: 1px solid $main-color; 
        }
        &:hover {
            border-bottom: 1px solid $main-color;
            filter: drop-shadow(0px 4px 5px rgba(50, 50, 50, 0.35));

        }
    }
}
.submenu {
    height: 110px;
   
    display: none;
    position: absolute;
    background: #fff;
    top: 70px;
    left: 0;
    width: 100%;
    justify-content: center;
    padding: 10px 200px 7px;
    transition: all .3s;
    z-index: 20;
    &_active {
        display: flex;
        
    }
    &__item {
        display: flex;
        height: auto;
        flex-direction: column;
        max-width: 120px;
        padding: 7px;
        margin: 0 20px;
        &:hover {
            outline: 1px solid rgba(19%, 19%, 19%, .5);
        }
        a {
            img {
                width: 40px;
                margin-bottom: 5px;
            }
            font-weight: 300;
            font-size: 10px;
            line-height: 107.4%;
            text-align: center;
            text-decoration: none;
            color: $main-color;
            
            
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-between;
            
            
        }
    }
}
.hamburger {
    display: none;
    width: 27px;
    height: 15px;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    span {
        width: 27px;
        height: 3px;
        background: $main-color;
    }
    &_active {
        span {
            background: #fff;
            &:first-child {
                transform: rotate(-45deg) translateY(8px);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(45deg) translateY(-9px);
            }
        }
    }
}
.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
.print__phone {
    display: none;
}
