.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .85);
    z-index: 5;
    display: none;
}
.modal {
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px 40px;
    box-shadow: $main-color 5px 5px 15px;
    display: none;
    &__title {
        text-align: center;
        font-size: 18px;
    }
    &__close {
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 30px;
        cursor: pointer;
    }
    &__form {
        display: flex;
        flex-direction: column;
        margin: 15px auto 20px;
        width: 80%;
        input {
            margin-bottom: 15px;
            height: 30px;
            border: 1px solid #000;
            border-radius: 5px;
            padding-left: 5px;
        }
        textarea {
            margin-bottom: 30px;
            border: 1px solid #000;
            border-radius: 5px;
            padding-left: 5px;
            padding-top: 5px;
        }
        .btn {
            border: none;
            margin: 0 auto;
        }
    }
}
.thanks {
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px 40px;
    box-shadow: $main-color 5px 5px 15px;
    display: none;
}