.promo {
    background: linear-gradient(90deg, #312D27 0%, #34302B 164.47%);
    // background: url(../img/promo1.jpg);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    height: 100vh;
    transform: translateY(-158px);
    padding-top: 220px;
    position: relative;
    overflow: hidden;
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 40%;
        background: url(../img/promo.jpg) no-repeat right top;
    }
    &__img_mob {
        display: none;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 0;
        opacity: .2;
        height: 100vh;
        img {
            height: 100%;
        }
    }
   
    &__title {
        font-family: 'Prata';
        font-weight: 400;
        font-size: 2.2rem;
        
        color: $second-color;

    }
    &__subtitle {
        font-weight: 400;
        font-size: 1.2rem;

        color: #FFFFFF;
        list-style-type: none;
        padding-left: 43px;
        margin-top: 15px;
        margin-bottom: 70px;
        li {
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 35px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: -43px;
            }
        }
    }
    
}
.wins {
    transform: translateY(-142%);
    &__wrapper {
        padding: 40px 140px;
        height: 160px;
        width: 90%;
        margin: 0 auto;
        background: $second-color;
        display: flex;
        justify-content: space-between;


    }
    &__item {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
        text-align: center;
        width: 25%;
        color: #FFFFFF;
    }
    
}