.process {
    padding: 150px 0;
    position: relative;
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
    .swiper {
        margin-top: 20px;
    }
    
    &__img {
        display: block;
        width: 100%;
       
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
      }
    .swiper-button-prev, .swiper-button-next {
        width: 70px;
        height: 70px;
        background: $main-color;
        color: #fff;
        border-radius: 34px;
        &:hover {
           background: $text-color;
        }
    }
    &__text {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 19px;
        line-height: 26px;
        color: $text-color;
    }
    &__background {
        top: 34%;
        right: 0%;
        &_orange {
            background-image: radial-gradient(circle closest-corner at 20% 20%, #FCA311 50%, transparent 50%);
            bottom: 5%;
            left: 0;
            z-index: 2;
        }
    }
}