.win {
    padding: 0 0 100px;
    &__wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: $main-color;
        width: 90%;
        margin: 0 auto;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: $main-color;
        margin: 5px auto 0;
        width: 90%;
    }
    &__item {
        width: 25%;
        margin-top: 15px;
    }
    &__img {
        width: 100%;
        img {
            width: 76%;
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
}