* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: #323232;
    
}
.container {
    margin: 0 auto;
    width: 85%;
    max-width: 1150px;
}

@import '_vari';

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.btn {
    display: block;
    padding: 15px 25px;
    background: transparent;
    outline: 1px solid #002248;
    border-radius: 5px;
    border: none;
    margin: 50px auto;
    font-weight: 500;
    font-size: 14px;
    width: fit-content;

    &:hover {
        background: $main-color;
        outline: none;
        cursor: pointer;
        color: #fff;
    }
    
}
.title__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider {
    width: 30%;
    height: 2px;
    background: $main-color;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    margin-top: 15px;
}

@import '_header';
@import '_promo';
@import '_calc';
@import '_win';
@import '_serv';

@import '_media.scss';


