* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    background: #FAFAFA;
}
.container {
    margin: 0 auto;
    width: 85%;
}
@import '_vari';
@import '_animation';

.btn {
    background-color: $main-color;
    color: #fff;
    width: 152px;
    height: 37px;
    border-radius: 35px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &:hover {
        color: $main-color;
        background-color: #fff;
        outline: 1px solid $main-color;
    }
}

@import '_header';
@import '_promo';